*{
   margin: 0;
   --purple-navy: #424874ff;
   --languid-lavender: #dcd6f7ff;
   --maximum-blue-purple: #a6b1e1ff;
   --light-gray: #cacfd6ff;
   --azure-x-11-web-color: #d6e5e3ff;
   font-family: 'Roboto', sans-serif;
 }

 /* main general elements */
section {
   height: 500px;
   background-color: white;
   border: 1px solid black;
}
 /* end of main general elements */

/* Nav */
nav {
   display: flex;
   justify-content: space-between;
}

ul {
   display: flex;
   list-style-type: none;
   font-size: 30px;
   justify-content: space-around;
}

li {
   width: 200px;
   text-decoration: none;
}

/* End of Nav */


/* Intro Section */
.intro {
   background-color: var(--languid-lavender);
   height: 100vh;
   color: black;
   font-size: 40px;
}

h1 {
   font-size: 90px;
}


.intro-text {
  margin-left: 80px; 
}

.button {
   width: 200px;
   height: 100px;
   border-radius: 40px;
   background-color: var(--purple-navy);
   text-align: center;
}


/* End of Intro */


/* Projects Section */

/* End of Projects */

/* About ME */

/* End of About Me */

/* Footer */
footer {
   height: 500px;

   background-color: var(--purple-navy)
}
/* End of Footer */
