:root {
--feldgrau: #505f4eff;
--russian-violet: #462255ff;
--orange: #f77f00ff;
--white: #ffffffff;
--claret: #750d37ff;
}

.navbar {
   list-style: none;
}

.nav-item {
   display: inline;
}

.home-btn {
   background-color: var(--orange);
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px;
   cursor: pointer;
}