/* CSS HEX */
--feldgrau: #505f4eff;
--russian-violet: #462255ff;
--orange: #f77f00ff;
--white: #ffffffff;
--claret: #750d37ff;

/* CSS HSL */
--feldgrau: hsla(113, 10%, 34%, 1);
--russian-violet: hsla(282, 43%, 23%, 1);
--orange: hsla(31, 100%, 48%, 1);
--white: hsla(0, 0%, 100%, 1);
--claret: hsla(336, 80%, 25%, 1);