*{
   box-sizing: border-box;
   margin: 0;
   --purple-navy: #424874ff;
   --languid-lavender: #dcd6f7ff;
   --maximum-blue-purple: #a6b1e1ff;
   --light-gray: #cacfd6ff;
   --azure-x-11-web-color: #d6e5e3ff;
   font-family: 'Roboto', sans-serif, monospace;
 }

 /* main general elements */
section {
   height: 500px;
   background-color: white;
   border: 1px solid black;
}
 /* end of main general elements */

/* Nav */
nav {
   display: flex;
   justify-content: space-between;
}

ul {
   display: flex;
   list-style-type: none;
   padding-top: 30px;
   font-size: 30px;
   justify-content: space-around;
}

li {
   width: 200px;
   text-decoration: none;
}

/* End of Nav */


/* Intro Section */
.hero {
   background-color: var(--languid-lavender);
   height: 100vh;
   color: black;
   font-size: 40px;
}

.hero h1 {
   font-size: 90px;
}

.hero p {
   font-size: 30px;
   font-weight: 100;
}

.hero-area {
   display: flex;
   height: 100%;
   justify-content: space-between;
   align-items: center;
}


.hero-text {
  margin-left: 80px; 
  margin-bottom: 200px;
}

.button {
   width: 170px;
   height: 55px;
   border-radius: 30px;
   background-color: var(--purple-navy);
   text-align: center;
   font-size: 30px;
   font-weight: 300;
   padding-top: 5px;
   margin-top: 20px;
   color: white;
}

.button:hover {
   background-color: var(--maximum-blue-purple);
}

.button:active {
   background-color: var(--light-gray);
}

.socials {
   padding-bottom: 200px;
}

.logo {
   font-family: 'Joan', serif;
   font-weight: 500;
   margin: 30px;
}

.social {
   margin: 30px;
}


/* End of Intro */


/* Projects Section */

/* End of Projects */

/* About ME */

/* End of About Me */

/* Footer */
footer {
   height: 500px;

   background-color: var(--purple-navy)
}
/* End of Footer */
